body {
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(31, 194, 101);
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #fcf9f9;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.button {
    text-align: center;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #444;
}